/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the Project Title */
h1 {
    font-size: 2.7em;
    margin-top: 20px;
    color: #f7f7f7;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fadeInDown 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
}

/* Styling for the Flash Message */
.flash-message {
    color: #ffffff;
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out;
}




@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Styling for the Upload Form */
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.upload-container input[type="file"] {
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.upload-container button {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff6b6b, #f94d6a);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    outline: none;
}

.upload-container button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ff927c, #f86762);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.upload-container button:active {
    transform: scale(0.95);
    background: linear-gradient(45deg, #ff4b5c, #f42d4a);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Styling for the Other Buttons */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

button {
    display: inline-block;
    margin: 15px;
    padding: 12px 30px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff6b6b, #f94d6a);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ff927c, #f86762);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

button:active {
    transform: scale(0.95);
    background: linear-gradient(45deg, #ff4b5c, #f42d4a);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
